.dashboard{
    background-color: #339999;
    width: 100%;     
    margin: 0;    
    padding: 0;    
    display: grid;    
    grid-template-rows: auto 1fr;
}

.dashboard__content{    
    box-sizing: border-box;
    padding: 20px;
}

.dashboard__content_center{
    text-align: center;
}

.start{
    display: grid;        
    align-items: center;
    justify-items: center;
}

.rules__title{
    text-decoration: underline;
    text-align: center;
}

.rules__rule{
    font-size: 18px;
    letter-spacing: 2px; 
}