<div class="battlefield battlefield__content">
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
    <div class="battlefield__cell battlefield__cell_got"></div>
</div>