<div class="profile g-all-height">
    <form class="profile__form form">
        <div class="input-block profile__input-block">
            <label class="label">Имя:</label>
            <input class="input" name="firstName" type="text">
        </div>
        <div class="input-block profile__input-block" >
            <label class="label">Фамилия:</label>
            <input class="input" name="lastName" type="text">
        </div>
        <div class="input-block profile__input-block">
            <label class="label">Email:</label>
            <input class="input" name="email" type="email">
        </div>
        <div class="input-block profile__input-block">
            <button class="start-button button">Начать игру</button>
        </div>
    </form>    
</div>