<div class="profile g-all-height">
    <form class="profile__form form">
        <div class="input-block profile__input-block">
            <label class="label">Имя:</label>
            <input class="input" name="firstName" type="text" required>
        </div>
        <div class="input-block profile__input-block" >
            <label class="label">Фамилия:</label>
            <input class="input" name="lastName" type="text" required>
        </div>
        <div class="input-block profile__input-block">
            <label class="label">Email:</label>
            <input class="input" name="email" type="email" required>
        </div>
        <div class="input-block profile__input-block">
            <input type="submit" class="save-button button" value="Сохранить данные"></button>
        </div>
    </form>    
</div>