.battlefield{
    display: grid;
    grid-gap: 10px;   
    width: 100%;   
}

.battlefield__cell{
    border: 1px solid #333366;
    background-color: #FF9999;        
}

.battlefield__cell_hidden{
    visibility: hidden;
}

.battlefield__cell:hover{
    /* -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
    /* -moz-transform: perspective(800px) rotateY(0deg);
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg); */
    /* -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out 0s; */
}

.battlefield__cell_got{    
    background-image: url('../../img/got/0.png');
    background-size: cover;
    background-position: center;
}

.battlefield__cell_football{    
    background-image: url('../../img/football/0.png');
    background-size: cover;
    background-position: center;
}

.battlefield__cell_cars{    
    background-image: url('../../img/cars/0.png');
    background-size: cover;
    background-position: center;
}

.battlefield__content{
    padding: 20px 0 0 0;
    box-sizing: border-box;
}

.battlefield__cell_open {       
    animation-name: rotator1;    
    animation-duration: .7s;
}

.battlefield__cell_close {       
    animation-name: rotator2;    
    animation-duration: .7s;
}

@keyframes rotator1{
    0% {
        transform: rotate3d(0, 1, 0, 180deg);
        animation-timing-function: ease-in;
    }
    
    40% {
        transform: rotate3d(0, 1, 0, -30deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
    }
    100% {
        transform: perspective(400px);
    }
}

@keyframes rotator2{
    0% {
        transform: rotate3d(0, 1, 0, -180deg);
        animation-timing-function: ease-in;
    }
    
    40% {
        transform: rotate3d(0, 1, 0, 30deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    }
    100% {
        transform: perspective(400px);
    }
}