.battlefield{
    display: grid;
    grid-gap: 10px;   
    width: 100%;   
}

.battlefield__cell{
    border: 1px solid #333366;
    background-color: #FF9999;        
}

.battlefield__cell:hover{
    opacity: 0.8;
}

.battlefield__cell_got{    
    background-image: url('../../img/game_of_throne/0.png');
    background-size: cover;
    background-position: center;
}

.battlefield__cell_football{    
    background-image: url('../../img/football/0.png');
    background-size: cover;
    background-position: center;
}

.battlefield__cell_cars{    
    background-image: url('../../img/cars/0.png');
    background-size: cover;
    background-position: center;
}

.battlefield__content{
    padding: 20px 0 0 0;
    box-sizing: border-box;
}

