.setting{
    background-color: #339999;
    width: 100%;     
    margin: 0;    
    padding: 0;    
    display: grid; 
    justify-items: center;
    align-items: center;
    grid-template-rows: auto 1fr auto;
}

.setting__body{
    width: 100%;
    display: grid; 
    align-self: flex-start;    
}

.setting__block{
    display: grid;
    grid-template: auto 1fr / repeat(3, 1fr);  
    justify-items: center;
    align-items: center;
}

.setting__title{
    grid-auto-rows: auto;
    grid-area: 1 / 4 / 1 / 1;
}

.complexity td{
    padding: 10px 15px;
    border: 1px solid #666699; 
}

.setting__item{
    cursor: pointer;    
    border: 1px solid transparent; 
}

.setting__block_background .setting__item{
    width: 200px;
    height: 200px;
    border: 1px solid #666699;     
    background-color: #ffffff;    
}

.setting__item_selected{
    border: 1px solid #FF9999!important;  
}

.setting__item:hover{
    border: 1px solid #FF9999;     
}

.setting__item_cars{
    background-image: url('./../../img/cars/0.png');
    background-position: center;
    background-size: cover;
}

.setting__item_footbal{
    background-image: url('./../../img/football/0.png');
    background-position: center;
    background-size: cover;
}

.setting__item_got{
    background-image: url('./../../img/got/0.png');
    background-position: center;
    background-size: cover;
}